@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  /* background: #303030; */
  background: linear-gradient(131deg, rgba(30, 30, 30, 1) 0%, rgba(50, 50, 50, 1) 100%);
  z-index: 0;
}

.wrapper {
  position: relative;
  display: flex;
  z-index: 10;
  height: 100vh;
}

.content {
  margin: auto;
  padding: 1rem;
}

h1 {
  color: #fff;
  margin: 0;
  font-size: 42px;
}

p {
  color: #ff7675;
  font-weight: 700;
  margin: -8px 0 0;
  font-size: 24px;
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 32px;
  }

  p {
    font-size: 20px;
  }
}